.quiz_question h3 {
	background-color:#E3E4FA;
	margin:0;
	padding:5px;
	border-bottom:1px solid #41627E;
	color:black;
	clear:both;
	}	
.quiz_question h3 .weight{
	float:right;
	margin:0;
	padding:0;
	}		
.quiz_question h3 .title{
	float:left;
	margin:0;
	padding:0;	
	}		
.question_title {
	font-size:1.2em;
	}	
.question_activation_date{
	font-size:0.8em;
	font-weight:normal;
	}	
.red {
	color:red;
	}		
.latest_question {
	border:1px solid gray;
	padding:10px;
	text-align:center;
	}	
#heading {
	font-size:1.5em;
	margin-top:0;
	font-weight:bold;
	}	
.quiz_question {
	margin-bottom:10px;
	}	