.quiz_question {
	/*border:0 1px;
	border-color:#41627E;
	border-style:solid;*/
	border-left:1px solid #41627E;
	border-right:1px solid #41627E;
	border-bottom:1px solid #41627E;
	}
.quiz_question h3 {
	/*background-color:#98AFC7;*/
	background-color:#E3E4FA;
	margin:0;
	padding:5px;
	border-bottom:1px solid #41627E;
	clear:both;
	padding-left:30px;
	}	
.quiz_question h3 .weight{
	float:right;
	margin:0;
	padding:0;
	}		
.quiz_question h3 .title{
	float:left;
	margin:0;
	padding:0;	
	}		
.question {
	padding:10px;
	}	
.q_inactive, .q_correct, .q_incorrect {
	display:none;
	}	
.uncollapsed .q_correct{
	display:block;
	}	
.correct h3 {
	background:url(../img/accept.png) #E3E4FA no-repeat 5px 5px;
	}		
.incorrect h3 {
	background:url(../img/cross.png) #E3E4FA no-repeat 5px 5px;
	}
.teaser h3 {
	background:url(../img/arrow_right.png) #E3E4FA no-repeat 5px 5px;
	}
.form h3 {	
	}
.inactive h3 {
	background:url(../img/bullet_key.png) #E3E4FA no-repeat 5px 5px;
	}	
.quiz_question:first-child h3 {
	border-top:1px solid #41627E;
	}